body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main game container */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #282828;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Title styling */
.title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ff6b6b;
}

/* Description text styling */
.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #d3d3d3;
}

/* Input container styling for alignment and spacing */
.input-container {
  display: flex;
  margin-bottom: 20px;
}

/* Input field styling */
.input-box {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  background-color: #333333;
  color: #ffffff;
  width: 150px;
  text-align: center;
}

/* Submit button styling */
.guess-button {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Submit button hover effect */
.guess-button:hover {
  background-color: #ff8787;
}

/* Attempts and message text styling */
.attempts,
.message {
  font-size: 1.2rem;
  margin-top: 20px;
}

/* History title styling */
.history-title {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ff6b6b;
}

/* Guess history list styling */
.guess-history {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 300px;
  margin: 0 auto;
}

/* Individual guess item styling */
.guess-history li {
  background-color: #333333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #ffffff;
}

/* Cow and bull icons styling with spacing */
.icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 20px;
  vertical-align: middle;
}

/* Reset button container */
.button-container {
  margin-top: 20px;
}

/* Reset button styling */
.reset-button {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.stats-button {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  position: absolute;
  top: 10px; 
  right: 10px; 
}

/* Reset button hover effect */
.reset-button:hover {
  background-color: #ff8787;
}